venv-*
test-temp
__pycache__
build
dist
javascript/__init__.py
javascript/paraforge-rust.wasm
javascript/icons/svg-icons.js
paraforge/__pycache__
paraforge/paraforge.wasm
paraforge.egg-info
target
test-files/node_modules
test-files/package-lock.json
test.pem
