html, body, paraforge-viewer {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  
  margin: 0;
  border: none;
  padding: 0;
  
  /* In Chrome, overflows can occur due to Chrome storing viewport sizes as a
   *  float internally, but reporting them rounded to the nearest integer. On
   *  screens with resolution scaling this can cause overflows in situations where
   *  the viewport size has been rounded up */
  overflow: hidden;
}
